name: Deploy app

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          cd remix_-botcito-pro
          npm install

      - name: Build
        run: |
          cd remix_-botcito-pro
          npm run build

      - name: Deploy
        uses: actions/upload-pages-artifact@v3
        with:
          path: remix_-botcito-pro/dist

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
    steps:
      - uses: actions/deploy-pages@v4
